[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cryptography = "*"
djangorestframework = "*"
serializers = "*"
drf-nested-routers = "*"
django-filter = "*"
django-cors-headers = "*"
redis = "*"
celery = "*"
pymysql = "*"
djoser = "*"
flower = "*"
sik = "*"
django-silk = "*"
django-redis = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]
django-debug-toolbar = "*"
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
locust = "*"

[requires]
python_version = "3.12"
